/** @format */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! PAGE STYLING START HERE  */
.page {
  font-size: 1.5rem;
  color: #3b3b3b;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-weight: 300;
}

.centerToPage {
  margin: auto;
  width: 40%;
}

.box {
  box-sizing: border-box;
  box-shadow: 0 2px 8px;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

input {
  border: 0;
  outline: none;
  color: #504f4f;
  font-size: 1rem;
}

#input-text {
  width: 94%;
}

input[type='checkbox'] {
  transform: scale(1.6);
}

.item {
  display: flex;
  justify-content: space-between;
}

.borderBottom {
  border-bottom: 1px solid #b8b6b6;
  padding: 1.2rem 1rem;
}

.check {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  color: #838282;
}

.dragging {
  opacity: 0.4;
}

.clearAll {
  text-align: center;
  background-color: #dfdbdb;
}

.clearAll:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
